.container {
  min-height: 100vh;
  color: var(--color-gray-900);
  background-color: var(--color-gray-75);
  transition: color var(--duration-500) var(--ease-out),
    background-color var(--duration-500) var(--ease-out);
}
